
// path to fonts
$pathToFonts: "../fonts/";

// {font-family: 'Gilroy Medium';}
@font-face {
  font-family: 'Gilroy Medium';
  src: url($pathToFonts/'Gilroy-Medium.eot');
  src: url($pathToFonts/'Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url($pathToFonts/'Gilroy-Medium.woff') format('woff'),
  url($pathToFonts/'Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// {font-family: 'Gilroy Regular';}
@font-face {
  font-family: 'Gilroy Regular';
  src: url($pathToFonts/'Gilroy-Regular.eot');
  src: url($pathToFonts/'Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url($pathToFonts/'Gilroy-Regular.woff') format('woff'),
  url($pathToFonts/'Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// {font-family: 'Gilroy Semibold';}
@font-face {
  font-family: 'Gilroy Semibold';
  src: url($pathToFonts/'Gilroy-SemiBold.eot');
  src: url($pathToFonts/'Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url($pathToFonts/'Gilroy-SemiBold.woff') format('woff'),
  url($pathToFonts/'Gilroy-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }